<!-- header.html -->
<div th:fragment="header">
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
			<div class="container-fluid">
				<a class="navbar-brand d-flex align-items-center" href="#"> <img
					src="/images/myphoto.jpg" alt="My Photo"
					class="rounded-circle me-2"
					style="height: 40px; width: 40px; object-fit: cover;"> <span>Hệ
						thống Quản lý Category</span>
				</a>

				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarContent"
					aria-controls="navbarContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<!-- Menu bên phải -->
				<div class="collapse navbar-collapse justify-content-end"
					id="navbarContent">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link"
							th:href="@{/admin/categories/list}">Danh mục</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</header>
</div>
